.headstyle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-family: var(--font-main);
  color: var(--color-bg);
  background-color: var(--color-text);
  padding: 20px;
}

.headstyle a {
  color: inherit;
  text-decoration: none;
}