.headstyle {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-family: var(--font-main);
  color: var(--color-bg);
  background-color: var(--color-text);
  padding: 0px 20px 0px 20px;
  overflow: hidden;
}

.headstyle h1 {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 2rem !important;
  line-height: 1 !important;
}

.headstyle h1 a {
  display: block !important;
  font-size: 3rem !important;
  line-height: 1 !important;
  color: var(--color-bg) !important;
  text-decoration: none !important;
  transform: translateY(9px); /* pousse le texte vers le bas — ajuster la valeur si police change */
}